<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SurfSticks | Find your surf stick at surfsticks.com</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>
<body>
  <div class="bg-dark d-flex justify-content-center align-items-center p-2">
    <p>REGISTER to try different sticks</p>
  </div>
  <div class="header d-flex justify-content-between align-items-center py-2 px-4">
    <div class="ml-2">
      <h1>SurfSticks</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center p-4">
      <h4 class="text-dark mx-4">surfboards</h4>
      <h4 class="text-dark mx-4">featured</h4>
      <h4 class="text-dark mx-4">about</h4>
      <h4 class="text-dark mx-4">log in | sign up</h4>
    </div>
  </div>
  <div class="main-body">
    <div class="banner d-flex justify-content-between align-items-center background-pink">
      <div class="p-3">
        <h2>the <em>super</em> secret foodie club</h2>
        <br>
        <h3 class="mt-4">access dynamic menus.</h3>
        <h3 class="mt-4">write reviews.</h3>
        <h3 class="mt-4">unlock deals.</h3>
      </div>
      <img src="images/sea-cave-hero.jpg">
    </div>
  </div>
</body>
</html>
