<div class="container">
  <div class="row">
    <div class="col">
      <h1>Surf Sticks</h1>
    </div>
  </div>

  <div class="row">
    <% @surfboards.each do |surfboard| %>
    <div class="col-md-6 my-3">
      <%= link_to surfboard_path(surfboard) do %>

      <div class="card-product">
        <% if surfboard.photo.attached? %>
          <%= cl_image_tag surfboard.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= surfboard.name %></h2>
          <p><%= surfboard.description %></p>
        </div>
      </div>
      <% end %>

    </div>
    <% end %>
  </div>
</div>
