<div class="container">
  <div class="row">
    <div class="col">
      <h1>Surfboard experiences</h1>
    </div>
  </div>

  <div class="row">
    <% @surfboards.each do |surfboard| %>
      <div class="col my-3">
        <div class="card-product">
          <img src="#placeholder" alt="blank placeholder">
          <%# if surfboard.photo.attached? %>
            <%#= cl_image_tag surfboard.photo.key %>
          <%# end %>
          <div class="card-product-infos">
            <h2><%= surfboard.name %></h2>
            <p><%= surfboard.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
