<h1>Surfboards#show</h1>
<p>Find me in app/views/surfboards/show.html.erb</p>
<h1>Reviews#new</h1>
<form action="surfboards" method="post"></form>
<lable for="review">Review</lable>
<input type="submit">
<!-- <p>Find me in app/views/reviews/new.html.erb</p> -->
