.card-surfboard {
  overflow: hidden;
  height: 200px;
  background: rgba(250,250,250, 0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;

  h2 {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: black;
    font-size: 1em;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-surfboard-infos {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.surfboard-additional-info {
  display: flex;
  justify-content: space-between;
}

.surfboard-rating {
  .fas.fa-star {
    color: rgb(255, 179, 30);
  }
}

.surfboard-index-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0.25em;
}
