.card-surfboard {
  overflow: hidden;
  height: 200px;
  background: $cool-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  h2 {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
  }
  h4 {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
  p {
    color: white;
    font-size: 0.8em;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-surfboard-infos {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
}
.card-surfboard-infos {
  .card-trip-user.avatar-bordered {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.card-surfboard-show {
  overflow: hidden;
  height: 400px;
  background: $cool-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;

}

.card-surfboard-show-info {
  padding-right: 170px;
  padding-top: 20px;
  line-height: 3;
  color:white;
}

.surfboard-additional-info {
  display: flex;
  justify-content: space-between;
}
.surfboard-rating {
  .fas.fa-star {
    color: rgb(255, 179, 30);
  }
}
.surfboard-index-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 20px;
  background-color: white;
}
